@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR:wght@500&display=swap');

body{
  background:#75d9cd;
}

main {
  width:800px; height:800px;
  position:relative;
  left:50%; transform:translateX(-50%);
  top:200px;
  box-sizing:border-box;
  animation:movingFace 10s;
  animation-iteration-count: infinite;
  margin-bottom:200px;
}

.face_ears>div {
  width:250px; height:200px;
  background:#ffe0cc;
  position:absolute;
  border:10px solid #d4a78c;
  
}
.face_ears>div:nth-child(1) {
  border-radius:114px 84px 125px 100px;
  transform:rotate(-104deg);
  top:350px; left:-53px;
}
.face_ears>div:nth-child(2) {
  border-radius:100px 125px 84px 114px;
  transform:rotate(104deg);
  top:350px; right:-53px;
}


.face {
  background:#ffe0cc;
  width:600px; height:500px;
  border-radius:30px 30px 250px 250px;
  border:10px solid #d4a78c;
  position:absolute; left:50%; top:25%;
  transform:translateX(-50%);
}

.face>.glasses {
  width:250px; height:250px; background:rgba(255,255,255,0.2);
  position:absolute; top:80px; 
  border-radius:175px;
  border:10px solid #555; box-sizing:border-box;
  z-index:10;
}
.face>.glasses.left {left:20px;}
.face>.glasses.right {right:20px;}

.face>.glasses_line {
  width:90px; height:90px; background:#555;
  position:absolute; left:50%; transform:translateX(-50%);
  top:180px; border-radius:45px;
}
.face>.glasses_line::after {content:''; display:block;
  width:190px; height:190px; background:#ffe0cc;
  position:absolute; left:50%; transform:translateX(-50%);
  top:17px; border-radius:95px;
}

.face>.eyes {
  width:200px; height:200px; background:#333;
  position:absolute; top:120px; 
  border-radius:100px; 
  border:10px solid #555; box-sizing:border-box;
}
.face>.eyes::before {width:200px; height:80px; background:#ffe0cc;
  content:''; display:block; position:absolute; top:150px; left:-9px;
  border-radius:80px 80px 0 0;
}
.face>.eyes.left {left:50px;}
.face>.eyes.right {right:50px;}

.face>.eyes::after {width:100px; height:100px; background:#fff;
  content:''; display:block; border-radius:50px; position:absolute; 
  left:50%; transform:translateX(-50%); top:40px; z-index:10;
}

.face>.hair {
  width:200px; height:300px; background:#6b4d1c;
  border-radius:0 270px 120px 90px;
  position:absolute; top:-175px;
  border:10px solid #38270c;
}

.face>.hair.one {
  left:-10px; transform:rotate(34deg);
  border-radius:250px 270px 220px 247px; top:-152px;
  animation:hair 1s;
  animation-iteration-count: infinite;
}
.face>.hair.two {left:160px; width:300px; z-index:10;}
.face>.hair.three {
  right:-10px; transform:rotate(-30deg);
  border-radius:0 270px 120px 90px;
  top:-152px;
  animation:hair02 1s;
  animation-iteration-count: infinite;
}

.face>.nose {
  width:5px; height:20px; background:#d4a78c; display:inline-block;
  position:absolute; bottom:130px;
}
.face>.nose.left {left:45%; transform:rotate(-30deg)}
.face>.nose.right {right:45%; transform:rotate(30deg)}

.face>.mouse {
  position:absolute; left:50%; transform:translateX(-50%);
  width:200px; height:80px; background:#690c0c; bottom:30px;
  border-radius:0 0 100px 100px; box-sizing:border-box;
  border:10px solid #690c0c; overflow:hidden;
}
.face>.mouse::after {
  width:200px; height:80px; background:red;
  content:''; display:block; border-radius:80px 80px 0 0;
  margin-top:30px;
}


/* 오리모자 */
.duck_cap {
  width:600px; height:250px; background:#ffd95c; z-index:15;
  position:relative; left:50%; transform:translateX(-50%) rotate(0deg);
  top:-55px; border-radius:250px 250px 20px 20px;
  border:10px solid #8a6f19;
  animation:movingDuck 5s;
  animation-iteration-count: infinite;
  }

.duck_cap>.eyes {
  width:60px; height:60px; background:#333;
  border-radius:30px; position:absolute; top:110px;
}
.duck_cap>.eyes.left {left:130px;}
.duck_cap>.eyes.right {right:130px;}
.duck_cap>.eyes::after {
  content:''; width:20px; height:20px; background:#fff;
  border-radius:10px; position:absolute; left:6px; top:6px;
}

.duck_cap>.mouse {
  width:300px; height:60px; background:#fa7a19;
  position:absolute; left:50%; transform:translateX(-50%);
  top:180px; border-radius:50px 50px 20px 20px;
  border:10px solid #9e4705; box-sizing:border-box;
}
.duck_cap>.mouse::after {
  width:0px; height:10px; background:#d16410;
  content:''; display:block; margin:20px auto;
}

.duck_cap>.nose {
  width:15px; height:15px; background:#8a6f19;
  position:absolute; top:150px; border-radius:0 100% 0 100%;
}
.duck_cap>.nose.left {left:280px;}
.duck_cap>.nose.right {right:280px; transform:rotate(90deg);}



.duck_hair {
  width:30px; height:60px; background:#ffd95c;
  border-radius:0 100% 0 100%; border:10px solid #8a6f19;
  position:absolute; top:-100px; 
}
.duck_hair.one {
  left:324px;
  animation:movingDuck_hair 1s;
  animation-iteration-count: infinite;
}
.duck_hair.two {
  right:390px; transform:rotate(30deg);
  animation:movingDuck_hair02 1s;
  animation-iteration-count: infinite;
}

footer {
  width:1200px; background:#fff;
  border-radius:100px; display:flex; align-items:center; justify-content:center; padding:50px; box-sizing:border-box;
  margin:0px auto;
}
footer>p {
  text-align:center; font-size:100px;
  font-family:Gamja Flower; color:#8a6f19;
  font-weight:500;
}

/* 애니메이션들 */
@keyframes movingFace {
  0% {transform:translateX(-50%) rotate(-3deg);}
  50% {transform:translateX(-50%) rotate(3deg);}
  100% {transform:translateX(-50%) rotate(-3deg);}
}


@keyframes movingDuck {
  0% {transform:translateX(-50%) rotate(5deg);}
  50% {transform:translateX(-50%) rotate(-5deg);}
  100% {transform:translateX(-50%) rotate(0.5deg);}
}

@keyframes movingDuck_hair {
  0% {transform:translateX(-50%) rotate(-2deg);}
  50% {transform:translateX(-50%) rotate(2deg);}
  100% {transform:translateX(-50%) rotate(-2deg);}
}

@keyframes movingDuck_hair02 {
  0% {transform:translateX(-50%) rotate(30deg);}
  50% {transform:translateX(-50%) rotate(20deg);}
  100% {transform:translateX(-50%) rotate(30deg);}
}

@keyframes hair {
  0% {transform:rotate(34deg)}
  50% {transform:rotate(38deg)}
  100% {transform:rotate(34deg)}
}

@keyframes hair02 {
  0% {transform:rotate(-30deg)}
  50% {transform:rotate(-35deg)}
  100% {transform:rotate(-30deg)}
}
